<mat-card>
    <mat-card-title>
        Excluir Produto
    </mat-card-title>
    
    <form action="" method="get">

        <mat-form-field>
            <input matInput type="text" placeholder="Nome" [value]="product.name" name="name" required disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Preço (R$)" [value]="product.price" name="price" required disabled>
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>